/*!
 * Main - Custom Styles
 *
 * Author - Nic Marson
 * Date - 1/22/2013
 * Version - 1.0
 *
 * Designed and built to fix consistency issues with the Medicare site
 */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  padding-top: 20px;
  padding-bottom: 40px;
}
h1 {
  color: #0881c2;
  font-size: 36px;
  line-height: 46px;
  margin: 10px 0;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
h2 {
  color: #b94d00;
  font-size: 28px;
  line-height: 36px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
h3 {
  font-size: 20px;
  line-height: 26px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
.alert {
  background-color: transparent;
}
.dropdown-menu {
  color: #000000;
}
.breadcrumb > li > .divider {
  color: #555555;
}
ul.bulleted li {
  margin: 10px 0;
}
ul.bulleted > li {
  list-style: square;
}
.generatedcontent ul.bulleted > li {
  list-style: none;
  position: relative;
}
.generatedcontent ul.bulleted > li:before {
  background: #f66600;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  content: "";
  height: 8px;
  left: -20px;
  position: absolute;
  top: 7px;
  width: 8px;
}
nav.toplevel {
  position: relative;
}
nav.toplevel li > a:hover {
  background-color: transparent;
}
.nav-brand {
  float: left;
}
.nav-brand a {
  min-height: 47px;
}
.nav-phone {
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}
.lt-ie9 .nav-phone {
  width: 30em;
}
.nav .nav-help {
  bottom: 10px;
  position: absolute;
  right: 0;
}
.nav .nav-help a {
  display: inline;
}
.nav .nav-help form {
  display: inline;
  margin: 0;
  padding-left: 10px;
}
#nav {
  font-size: 16px;
}
#nav .nav > li > a {
  font-weight: 700;
}
.navbar-inverse .navbar-inner {
  color: #ffffff;
}
.hero-image {
  padding: 0;
  position: relative;
}
.hero-medicare {
  background-color: #0064cd;
  background-position: right top;
  background-repeat: no-repeat;
  color: #ffffff;
}
.hero-medicare h1 {
  font-size: 40px;
  line-height: 40px;
}
.hero-medicare h1 small {
  color: #ffffff;
  font-size: 28px;
  line-height: 40px;
}
.hero-medicare .hero-inner {
  height: 120px;
  padding-right: 365px;
  padding-top: 20px;
}
.medicare-home .hero-medicare {
  background-image: url("http://www.regence.com/medicare/images/homebox-bg.jpg");
}
.btn-container-bottom {
  padding-bottom: 40px;
  position: relative;
}
.btn-block {
  padding-left: 15px;
  text-align: left;
}
.nav-shopping .nav-pills {
  margin-bottom: 0;
}
.nav-shopping .nav-pills > li > a {
  border: 1px solid;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  padding: 12px 15px;
}
.nav-shopping .nav-pills > li > a small {
  font-size: 16px;
}
.nav-shopping .nav-pills > .learn > a {
  color: #076da5;
}
.nav-shopping .nav-pills > .learn.active > a,
.nav-shopping .nav-pills > .learn.active > a:hover {
  background-color: #076da5;
}
.nav-shopping .nav-pills > .shop > a {
  color: #724aa3;
}
.nav-shopping .nav-pills > .shop.active > a,
.nav-shopping .nav-pills > .shop.active > a:hover {
  background-color: #724aa3;
}
.nav-shopping .nav-pills > .help > a {
  color: #197b37;
}
.nav-shopping .nav-pills > .help.active > a,
.nav-shopping .nav-pills > .help.active > a:hover {
  background-color: #197b37;
}
.nav-shopping .nav-pills > .active > a,
.nav-shopping .nav-pills > .active > a:hover {
  color: #ffffff;
}
.nav-shopping .tab-pane {
  border: 1px solid;
  padding: 15px;
}
.nav-shopping #learn {
  border-color: #0881c2;
}
.nav-shopping #learn h4 {
  color: #076da5;
}
.nav-shopping #shop {
  border-color: #916dbd;
}
.nav-shopping #shop h4 {
  color: #724aa3;
}
.nav-shopping #help {
  border-color: #1e9442;
}
.nav-shopping #help h4 {
  color: #197b37;
}
