/*!
 * Main - Custom Styles
 *
 * Author - Nic Marson
 * Date - 1/22/2013
 * Version - 1.0
 *
 * Designed and built to fix consistency issues with the Medicare site
 */

// Core variables and mixins
@import "variables.less"; // Modify this for custom colors, font-sizes, etc
@import "mixins.less";

body {
  padding-top: 20px;
  padding-bottom: 40px;
}

// Headings
// -------------------------
h1 {
  color: @brand;
  font-size: 36px;
  line-height: 46px;
  margin: 10px 0;
  text-shadow: 0 0 1px rgba(0,0,0,.1); // Helps text rendering on Windows
}
h2 {
  color: @orange;
  font-size: 28px;
  line-height: 36px;
  text-shadow: 0 0 1px rgba(0,0,0,.1); // Helps text rendering on Windows
}
h3 {
  font-size: 20px;
  line-height: 26px;
  text-shadow: 0 0 1px rgba(0,0,0,.1); // Helps text rendering on Windows
}

// Orange Square Bullets
ul.bulleted li {
  margin: @baseLineHeight / 2 0;
}
ul.bulleted > li {
  list-style: square;
}
.generatedcontent {

  ul.bulleted > li {
    list-style: none;
    position: relative;
  }
  ul.bulleted > li:before {
    background: @bulletBackground;
    .border-radius(2px);
    content: "";
    height: 8px;
    left: -(@listIndent);
    position: absolute;
    top: @baseFontSize / 2;
    width: 8px;
  }
}

// Navigation
nav.toplevel {
  position: relative;

  li > a:hover {
    background-color: transparent;
  }
}
.nav-brand {
  float: left;

  a {
    min-height: 47px;
  }
}
.nav-phone {
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}
.lt-ie9 .nav-phone {
  width: 30em;
}
.nav .nav-help {
  bottom: 10px;
  position: absolute;
  right: 0;

  a {
    display: inline;
  }
  form {
    display: inline;
    margin: 0;
    padding-left: 10px;
  }
}

// Hero with image
.hero-image {
  padding: 0;
  position: relative;
}

// Medicare Hero
.hero-medicare {
  background: url("http://www.regence.com/medicare/images/homebox-bg.jpg") no-repeat #5A8396;

  h1 {
    color: @white;
    font-size: 40px;
    line-height: 40px;

    small {
      color: @white;
      font-size: 30px;
      line-height: 36px;
    }
  }
  .hero-inner {
    height: 120px;
    padding-left: 365px;
    padding-top: 30px;
  }
}

// Button Containers
.btn-container-bottom {
  padding-bottom: 45px;
  position: relative;
}
.btn-block {
  padding-left: 15px;
  text-align: left;
}

// Medicare Tab Menu
.nav-shopping {

  li > a {
    font-size: 24px;
    line-height: 24px;

    small {
      display: block;
      font-size: 16px;
    }
  }
  .tab-learn {
    background-image: url("/medicare/images/menu-bg-7bb0c9.png")
  }
  .tab-shop {
    background-image: url("/medicare/images/menu-bg-8a85a3.png")
  }
  .tab-help {
    background-image: url("/medicare/images/menu-bg-7e9c2e.png")
  }
}
#tab-learn {

  a {
    background: transparent url('/medicare/images/info-advantages.gif') no-repeat 0 0;
    width:250px;
    height:160px;
    display:block;
    margin:0 0 10px 15px;
  }
  .info-education a {
    background-image: url('/medicare/images/info-education.gif');
  }
  .info-sharethewell a {
    background-image: url('/medicare/images/info-sharethewell.gif');
  }
}
#tab-shop {

  h4 {
    color: #8a85a3;
  }
  ul {
    background:transparent url('/medicare/images/coverage-partd.gif') no-repeat 15px 0;
    padding-top: 175px;
  }
  li {
    font-size: 1.4em;
    padding-left: 15px;
    line-height: 1.2em;
  }
  .coverage-medadvantage {
    margin-bottom: 1em;

    ul {
      background-image: url('/medicare/images/coverage-medadvantage.gif');
    }
  }
  .coverage-medigap ul {
    background-image: url('/medicare/images/coverage-medigap.gif');
  }
}
#tab-help {

  h4 {
    color: #78972c;
  }
  ul {
    padding-left: 70px;
    background: transparent url('../images/contact-phone.gif') no-repeat 2px 10px;
  }
  .last {
    margin-top:1em;

    ul {
      background-image: none;
      padding-left: 0;
    }
    li {
      padding: 15px 0 15px 70px;
    }
    .seminar {
      background:transparent url('/medicare/images/contact-chat.gif') no-repeat 15px 7px;
    }
    .literature {
      background:transparent url('/medicare/images/contact-email.gif') no-repeat 15px 7px;
    }
  }
}
