/*!
 * Main - Custom Styles
 *
 * Author - Nic Marson
 * Date - 1/22/2013
 * Version - 1.0
 *
 * Designed and built to fix consistency issues with the Medicare site
 */

// Core variables and mixins
@import "variables.less"; // Modify this for custom colors, font-sizes, etc
@import "mixins.less";

body {
  padding-top: 20px;
  padding-bottom: 40px;
}

// Headings
// -------------------------
h1 {
  color: @brand;
  font-size: 36px;
  line-height: 46px;
  margin: 10px 0;
  text-shadow: 0 0 1px rgba(0,0,0,.1); // Helps text rendering on Windows
}
h2 {
  color: @orange;
  font-size: 28px;
  line-height: 36px;
  text-shadow: 0 0 1px rgba(0,0,0,.1); // Helps text rendering on Windows
}
h3 {
  font-size: 20px;
  line-height: 26px;
  text-shadow: 0 0 1px rgba(0,0,0,.1); // Helps text rendering on Windows
}


.alert {
  background-color: transparent;
}


.dropdown-menu {
  color: @black;
}


// Orange Square Bullets
ul.bulleted li {
  margin: @baseLineHeight / 2 0;
}
ul.bulleted > li {
  list-style: square;
}
.generatedcontent {

  ul.bulleted > li {
    list-style: none;
    position: relative;
  }
  ul.bulleted > li:before {
    background: @bulletBackground;
    .border-radius(2px);
    content: "";
    height: 8px;
    left: -(@listIndent);
    position: absolute;
    top: @baseFontSize / 2;
    width: 8px;
  }
}

// Navigation
nav.toplevel li > a:hover {
  background-color: transparent;
}
.nav-brand a {
  min-height: 47px;
}
.nav-phone {
  li {
    display: inline;
    list-style: none;
  }
  ul {
    margin: 0 0 6px;
  }
}
.lt-ie9 .nav-phone {
  width: 30em;
}
.nav .nav-help {

  a {
    display: inline;
  }
  form {
    display: inline;
    margin: 0;
    padding-left: 10px;
  }
}


// Navigation
#nav {
  font-size: 16px;

  .nav > li > a {
    font-weight: 700;
  }
}
.navbar-inverse .navbar-inner {
  color: @white;
}
.breadcrumb > li > .divider {
  color: @gray;
}
.nav-breadcrumb {
  position: relative;
}
#showZipCode {
  position: absolute;
  right: 15px;
  top: 8px;
}


// Hero with image
.hero-image {
  padding: 0;
  position: relative;
}


// Medicare Hero
.hero-medicare {
  background-color: #0064cd;
  color: @white;

  h1 {
    color: @white;
    font-size: 40px;
    line-height: 40px;

    small {
      color: @white;
      font-size: 28px;
      line-height: 40px;
    }
  }
  .hero-inner {
    padding-bottom: 20px;
    padding-left: 15px;
    padding-top: 20px;
  }
}


// Button Containers
.btn-block {
  padding-left: 15px;
  text-align: left;
}


// Learn - Shop - Help
.nav-shopping {

  .nav-pills {
    margin-bottom: 0;
  }
  .nav-pills > li > a {
    border: 1px solid;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    padding: 12px 15px;
  }
  .nav-pills > li > a small {
    font-size: 16px;
  }
  .nav-pills > .learn > a {
    color: #076da5;
  }
  .nav-pills > .learn.active > a,
  .nav-pills > .learn.active > a:hover {
    background-color: #076da5;
  }
  .nav-pills > .shop > a {
    color: #724aa3;
  }
  .nav-pills > .shop.active > a,
  .nav-pills > .shop.active > a:hover {
    background-color: #724aa3;
  }
  .nav-pills > .help > a {
    color: #197b37;
  }
  .nav-pills > .help.active > a,
  .nav-pills > .help.active > a:hover {
    background-color: #197b37;
  }
  .nav-pills > .active > a,
  .nav-pills > .active > a:hover {
    color: #ffffff;
  }
  .tab-pane {
    border: 1px solid;
    padding: 15px;
  }
  #learn {
    border-color: #0881c2;
  }
  #learn h4 {
    color: #076da5;
  }
  #shop {
    border-color: #916dbd;
  }
  #shop h4 {
    color: #724aa3;
  }
  #help {
    border-color: #1e9442;
  }
  #help h4 {
    color: #197b37;
  }
}

// MEDIA QUERIES
// ------------------

// Large desktops
@media (min-width: 1200px) {
}

// Desktops and larger
@media (min-width: 980px) {
  nav.toplevel {
    position: relative;
  }
  .nav-brand {
    float: left;
  }
  .nav-phone {
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
  }
  .nav .nav-help {
    bottom: 10px;
    position: absolute;
    right: 0;
  }
}

// Tablets to regular desktops
@media (min-width: 768px) and (max-width: 979px) {
}

// Tablets and larger
@media (min-width: 768px) {
  .btn-container-bottom {
    padding-bottom: 40px;
    position: relative;
  }
  .btn-positioned-on {
    bottom: 0;
    left: 0;
    position: absolute;
  }
  .hero-medicare {
    background-position: right top;
    background-repeat: no-repeat;

    .hero-inner {
      height: 100px;
      padding-right: 335px;
    }
  }
  .medicare-home .hero-medicare {
    background-image: url("http://www.regence.com/medicare/images/homebox-bg.jpg");
  }
}

// Phones to portrait tablets and narrow desktops
@media (max-width: 767px) {
}


